body {
    background-color: #F8F9FA;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: #333;
}
  
.btn-custom {
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
}

.btn-custom:hover {
    background-color: #45A049;
    color: #fff;
}
  
.btn-secondary-custom {
    background-color: #3498DB;
    color: #fff;
    border: 2px solid #3498DB;
}
  
.btn-secondary-custom:hover {
    background-color: #2980B9;
    color: #fff;
}