{% extends 'shared/base.html' %}
{% block content %}
      <style>
      body {
    background-color: #d5ebd8;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }

  .btn-custom {
      background-color: #005018; /* Green background color */
      color: white; /* White text color */
      padding: 15px; /* Add padding to the button */
      border: none; /* Remove button border */
      border-radius: 5px; /* Add border radius for rounded corners */
      cursor: pointer; /* Add cursor pointer on hover */
    }

  .return-btn {
    display: flex;
    justify-content: center;
  }
      </style>
      <div class="container mt-5">
            <h1 class="text-center mb-4">Most Significant Subunit of a Complex Structure</h1>
            <h2>Common molecule structure is: {{ molecular_data }}</h2>
      </div>
      <div class ="container">
            <div class="row">
                  <div class="col">
                        <img src="data:image/png;base64,{{ mol1 }}" width="90%">
                  </div>
                  <div class="col">
                        <img src="data:image/png;base64,{{ mol2 }}" width="90%">
                  </div>
            </div>
            <div class="row">
                 <img src="data:image/png;base64,{{ common_mol }}" width="90%">
            </div>
      </div>
      <br>
      <div class="return-btn">
            <a href="{% url 'twoMolecule' %}"
               class="btn btn-custom btn-lg btn-block"
               value="Return">Return</a>
          </div>
{% endblock %}
