{% extends 'shared/base.html' %}
{% block content %}
  <style>
  body {
    background-color: #d5ebd8;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .heading {
    text-align: center;
  }

  .container {
      margin-top: 50px; /* Adjust top margin for spacing */
      background-color: #F8F9FA; /* Light gray background color */
      padding: 20px; /* Add padding to the container */
      border-radius: 10px; /* Add border radius for rounded corners */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

  .row {
      margin-top: 20px; /* Adjust top margin for spacing */
    }
  
  .col {
      margin-bottom: 20px; /* Adjust bottom margin for spacing */
    }

  #molecule-imgs {
      margin-top: 30px; /* Adjust top margin for spacing */
    }

  .btn-custom {
      background-color: #005018; /* Green background color */
      color: white; /* White text color */
      padding: 15px; /* Add padding to the button */
      border: none; /* Remove button border */
      border-radius: 5px; /* Add border radius for rounded corners */
      cursor: pointer; /* Add cursor pointer on hover */
    }

  .return-btn {
    display: flex;
    justify-content: center;
  }

  </style>
  <div class="heading">
    <h1 class="text-center mb-4">Most Significant Subunit of a Complex Structure</h1>
    <br>
    <h2>Substructures of your molecule</h2>
  </div>

  <div class ="container">
    <div class="row">
      <div class="col">
        {{ smile_1 }}
        <img src="data:image/png;base64,{{ submol_base64_1 }}" width="90%">
        <img src="data:image/png;base64,{{ annotated_molecule_base64_1 }}"
             width="90%">
      </div>
      {% block second %}
        {% if smile_2 %}
          <div class="col">
            {{ smile_2 }}
            <img src="data:image/png;base64,{{ submol_base64_2 }}" width="90%">
            <img src="data:image/png;base64,{{ annotated_molecule_base64_2 }}"
                 width="90%">
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
  <div id="molecule-imgs">
    {% for molecular_data in molecular_datas %}<div>{{ molecular_data }}</div>{% endfor %}
  </div>
  <div class="return-btn">
    <a href="{% url 'oneMolecule' %}"
       class="btn btn-custom btn-lg btn-block"
       value="Return">Return</a>
  </div>
{% endblock %}
