{% extends 'shared/base.html' %}
{% block content %}
      <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
      </style>
      <div class="container mt-5">
            <h1 class="text-center mb-4">Most Significant Subunit of a Complex Structure</h1>
            <h2>Common molecule structure is: {{ molecular_data }}</h2>
      </div>
      <div class ="container">
            <div class="row">
                  <div class="col">
                        <img src="data:image/png;base64,{{ mol1 }}" width="90%">
                  </div>
                  <div class="col">
                        <img src="data:image/png;base64,{{ mol2 }}" width="90%">
                  </div>
            </div>
            <div class="row">
                 <img src="data:image/png;base64,{{ common_mol }}" width="90%">
            </div>
      </div>
      <div class="col-md-6 text-center">
            <a href="{% url 'collectInputTwo' %}"
               class="btn btn-custom btn-lg btn-block"
               value="Return">Return</a>
      </div>
{% endblock %}
